@{
    Layout = "_FunctionLayout";
}
<link href="~/css/loading.css" rel="stylesheet" />
<style>
    .fontName {
        font-weight: normal;
    }

    .row {
        margin-top: 10px;
    }

    .formCreate {
        background-color: #EEEEEE;
        border-radius: 10px;
        padding: 20px;
        margin-top: 20px
    }
</style>
<h3 style="text-align:center; color:#0099FF; font-weight:700">LÝ LỊCH NGHĨA VỤ QUÂN SỰ</h3>
<hr>
<div class="container" style="margin-top: 20px;">
    <div class="formCreate">
        <div class="row">
            <div class="col-md-3 fontName">Họ, chữ đệm và tên khai sinh: </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="txtFullnameBirth" name="" placeholder="Họ và tên khai sinh" maxlength="200">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Họ, chữ đệm và tên thường dùng: </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="txtFullnameCommon" name="" placeholder="Họ, chữ đệm và tên thường dùng">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Ngày tháng năm sinh: </div>
            <div class="col-md-5">
                <input id="txtBirthday" title="datepicker" class="form-control" />
            </div>
            <div class="col-md-2 fontName">Giới tính : </div>
            <div class="col-md-2 fontName">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="RadioSex" id="txtRadioSex1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Nam
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="RadioSex" id="txtRadioSex2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Nữ
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Số CMND hoặc Số thẻ căn cước, (số ĐDCN): </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="txtCMND" name="text"
                       placeholder="Số CMND hoặc Số thẻ căn cước, (số ĐDCN)">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Nơi đăng ký khai sinh: </div>
            <div class="col-md-9">
                <textarea type="text" class="form-control" id="txtBirthRegistration" name="text"
                          placeholder="Nơi đăng ký khai sinh"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Quê quán</div>
            <div class="col-md-9">
                <textarea type="text" class="form-control" id="txtCountryside" name="text" placeholder="Quê quán"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Dân tộc: </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="txtNation" name="text" placeholder="Dân tộc">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Tôn giáo: </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="txtReligion" name="text" placeholder="Tôn giáo">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Quốc tịch: </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="txtNationality" name="text" placeholder="Quốc tịch">
            </div>
        </div>
    </div>
    <div class="formCreate" style="margin-top:10px">
        <div class="row">
            <div class="col-md-3 fontName">Nơi thường trú của gia đình: </div>
            <div class="col-md-9">
                <textarea type="text" class="form-control" id="txtFamilyResidence" name="text"
                          placeholder="Nơi thường trú của gia đình"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Nơi ở hiện tại của bản thân: </div>
            <div class="col-md-9">
                <textarea type="text" class="form-control" id="txtMyCurrentResidence" name="text"
                          placeholder="Nơi ở hiện tại của bản thân"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Thành phần gia đình: </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="txtFamilyMember" name="text" placeholder="Thành phần gia đình">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Bản thân: </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="txtSelf" name="text" placeholder="Bản thân">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Trình độ học vấn: </div>
            <div class="col-md-5">
                <input type="text" class="form-control" id="txtLearnLevel" name="text" placeholder="Trình độ học vấn">
            </div>
            <div class="col-md-2 fontName">Năm tốt nghiệp: </div>
            <div class="col-md-2">
                <input type="number" class="form-control" id="txtGraduationYear" name="text" min="1" max="1000" placeholder="Năm tốt nghiệp">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Ngành nghề đào tạo: </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="txtJobTrainingFields" name="text" placeholder="Ngành nghề đào tạo">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Trình độ ngoại ngữ: </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="txtEnglishLevel" name="text" placeholder="Trình độ ngoại ngữ">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Ngày vào Đảng CSVN: </div>
            <div class="col-md-4">
                <input class="form-control" id="txtCSVN" title="datepicker" placeholder="Ngày vào Đảng CSVN">
            </div>
            <div class="col-md-2 fontName">Chính thức: </div>
            <div class="col-md-3">
                <input class="form-control" id="txtCSVNOfficial" title="datepicker" placeholder="Chính thức">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Ngày vào Đoàn TNCS Hồ Chí Minh: </div>
            <div class="col-md-9">
                <input class="form-control" id="txtTNCS" title="datepicker" placeholder="Ngày vào Đoàn TNCS Hồ Chí Minh">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Khen thưởng: </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="txtBonus" name="text" placeholder="NKhen thưởng">
            </div>
            <div class="col-md-2 fontName">Kỷ Luật: </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="txtDiscipline" name="text" placeholder="Kỷ Luật">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Nghề nghiệp: </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="txtJob" name="text" placeholder="Nghề nghiệp">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Lương ngạch: </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="txtGrade" name="text" placeholder="Lương ngạch">
            </div>
            <div class="col-md-2 fontName">Bậc: </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="txtJobLevel" name="text" placeholder="bậc">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Nơi làm việc (học tập): </div>
            <div class="col-md-9">
                <input type="text" class="form-control" id="txtPlaceWorkStudy" name="text" placeholder="Nơi làm việc (học tập)">
            </div>
        </div>
    </div>
    <div class="formCreate" style="margin-top:10px">
        <div class="row">
            <div class="col-md-3 fontName">Họ tên cha: </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="txtFatherFullName" name="text" placeholder="Họ tên cha">
            </div>
            <div class="col-md-2 fontName">(Sống,chết) : </div>
            <div class="col-md-2 fontName">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="RadioFatherInformation" id="txtFatherInformation1" checked>
                    <label class="form-check-label" for="txtFatherInformation1">
                        Sống
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="RadioFatherInformation" id="txtFatherInformation2">
                    <label class="form-check-label" for="txtFatherInformation2">
                        Chết
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Nghề nghiệp: </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="txtFatherJob" name="text" placeholder="Nghề nghiệp">
            </div>
            <div class="col-md-2 fontName">Sinh năm: </div>
            <div class="col-md-3">
                <input class="form-control" id="txtFatherBirthDay" title="datepicker" placeholder="Sinh năm">
            </div>
        </div>
    </div>
    <div class="formCreate" style="margin-top:10px">
        <div class="row">
            <div class="col-md-3 fontName">Họ tên Mẹ: </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="txtMotherFullName" name="text" placeholder="Họ tên mẹ">
            </div>
            <div class="col-md-2 fontName">(Sống,chết) : </div>
            <div class="col-md-2 fontName">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="RadioMotherformations" id="txtMotherformations1" checked>
                    <label class="form-check-label" for="txtMotherformations1">
                        Sống
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="RadioMotherformations" id="txtMotherformations2">
                    <label class="form-check-label" for="txtMotherformations2">
                        Chết
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Nghề nghiệp: </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="txtMotherJob" name="text" placeholder="Nghề nghiệp">
            </div>
            <div class="col-md-2 fontName">Sinh năm: </div>
            <div class="col-md-3">
                <input class="form-control" id="txtMotherBirthDay" title="datepicker" placeholder="Sinh năm">
            </div>
        </div>
    </div>
    <div class="formCreate" style="margin-top:10px">
        <div class="row">
            <div class="col-md-3 fontName">Họ tên vợ (chồng): </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="txtWifeHusbandName" name="text" placeholder="Họ tên vợ (chồng)">
            </div>
            <div class="col-md-2 fontName">Sinh năm: </div>
            <div class="col-md-3">
                <input class="form-control" id="txtWifeHusband" title="datepicker">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Nghề nghiệp: </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="txtWifeHusJob" name="text" placeholder="Nghề nghiệp">
            </div>
            <div class="col-md-3 fontName">Bản thân đã có mấy con: </div>
            <div class="col-md-2">
                <input type="number" value="0" class="form-control" id="txtWifeHusBaby" name="text">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Cha mẹ có mấy người con: </div>

            <div class="col-md-1">
                Nam
            </div>
            <div class="col-md-1">
                <input type="number" class="form-control" id="txtFamilyChildBoy" name="text" placeholder="" value="0">
            </div>

            <div class="col-md-1">
                Nữ
            </div>
            <div class="col-md-1">
                <input type="number" class="form-control" id="txtFamilyChildGrild" name="text" placeholder="" value="0">
            </div>

            <div class="col-md-3">
                Bản thân là con thứ mấy
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" id="txtFamilySelf" name="text" placeholder="" value="0">
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 fontName" style="text-align:center;font-weight:bold">II. TÌNH HÌNH KINH TẾ, CHÍNH TRỊ CỦA GIA ĐÌNH</div>
        <div class="col-md-12 fontName" style="text-align:center">
            (Ghi đầy đủ của cha đẻ, mẹ đẻ hoặc người trực tiếp nuôi dưỡng của bản thân và của vợ hoặc chồng; anh chị em ruột; con đẻ, con nuôi theo quy định của pháp luật: Họ tên, năm sinh, nghề nghiệp, tình hình kinh tế, chính trị của từng người qua các thời k‎ỳ).
        </div>
    </div>
    <div class="formCreate" style="margin-top:10px">
        <label><strong>Thông tin của Cha</strong></label>
        <div class="row">
            <div class="col-md-3 fontName">Trước năm 1975: </div>
            <div class="col-md-9 fontName">
                <textarea type="text" class="form-control" id="txtFatherBefore1975" name="text"
                          placeholder="Trước năm 1975"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Sau năm 1975: </div>
            <div class="col-md-9 fontName">
                <textarea type="text" class="form-control" id="txtFatherAfter1975" name="text"
                          placeholder="Sau năm 1975"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Chỗ ở hiện nay: </div>
            <div class="col-md-9 fontName">
                <textarea type="text" class="form-control" id="txtFatherLiveCurrently" name="text"
                          placeholder="Chỗ ở hiện nay"></textarea>
            </div>
        </div>
    </div>

    <div class="formCreate" style="margin-top:10px">
        <label><strong>Thông tin của Mẹ</strong></label>
        <div class="row">
            <div class="col-md-3 fontName">Trước năm 1975: </div>
            <div class="col-md-9 fontName">
                <textarea type="text" class="form-control" id="txtMotherBefore1975" name="text"
                          placeholder="Trước năm 1975"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Sau năm 1975: </div>
            <div class="col-md-9 fontName">
                <textarea type="text" class="form-control" id="txtMotherAfter1975" name="text"
                          placeholder="Sau năm 1975"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Chỗ ở hiện nay: </div>
            <div class="col-md-9 fontName">
                <textarea type="text" class="form-control" id="txtMotherLiveCurrently" name="text"
                          placeholder="Chỗ ở hiện nay"></textarea>
            </div>
        </div>
    </div>

    <div class="formCreate" style="margin-top:10px">
        <div class="row">
            <div class="col-md-3 fontName">Anh chị ruột: </div>
            <div class="col-md-9 fontName">
                <textarea type="text" class="form-control" id="txtSiblings" name="text"
                          placeholder="Anh chị ruột"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 fontName" style="text-align:center;font-weight:bold">III. TÌNH HÌNH KINH TẾ, CHÍNH TRỊ, QUÁ TRÌNH CÔNG TÁC CỦA BẢN THÂN</div>
        <div class="col-md-12 fontName" style="text-align:center">
            Nêu thời gian, kết quả học tập, rèn luyện phấn đấu từ nhỏ đến thời điểm nhập ngũ)
        </div>
    </div>
    <div class="formCreate" style="margin-top:10px">
        <div class="row">
            <div class="col-md-3 fontName">Từ 6 tuổi đến 11 tuổi:</div>
            <div class="col-md-9 fontName">
                <textarea type="text" class="form-control" id="txtFromSixToEleven" name="text"
                          placeholder="Từ 6 tuổi đến 11 tuổi"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Từ 12 tuổi đến 15 tuổi:</div>
            <div class="col-md-9 fontName">
                <textarea type="text" class="form-control" id="txtFromTwelveToFifteen" name="text"
                          placeholder="Từ 12 tuổi đến 15 tuổi:"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Từ 15 đến 18 tuổi:</div>
            <div class="col-md-9 fontName">
                <textarea type="text" class="form-control" id="txtFromFteenToFiEighteen" name="text"
                          placeholder="Từ 15 đến 18 tuổi:"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 fontName">Từ 18 tuổi đến nay:</div>
            <div class="col-md-9 fontName">
                <textarea type="text" class="form-control" id="txtFromEighteen" name="text"
                          placeholder="Từ 18 tuổi đến nay:"></textarea>
            </div>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <table>
                    <tr>
                        <td><button style="text-align: center; margin-right:20px" type="button" id="btnAdd" class="btn btn-primary">Hoàn thành</button></td>
                        <td><button style="text-align: center; margin-right:20px" type="button" class="btn btn-danger">Hủy</button></td>
                        <td>  <div class="loader" id="loader"></div></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
</div>
<script>
    $(document).ready(function () {
        $("#loader").hide();
        $("#txtBirthday").kendoDatePicker({
            format: "dd/MM/yyyy",
            dateInput: true,
        });
        $("#txtBirthday").data("kendoDatePicker").value(new Date());

        $("#txtCSVN").kendoDatePicker({
            format: "dd/MM/yyyy",
            dateInput: true
        });
        $("#txtCSVN").data("kendoDatePicker").value(new Date());

        $("#txtTNCS").kendoDatePicker({
            format: "dd/MM/yyyy",
            dateInput: true
        });
        $("#txtTNCS").data("kendoDatePicker").value(new Date());

        $("#txtFatherBirthDay").kendoDatePicker({
            format: "dd/MM/yyyy",
            dateInput: true
        });
        $("#txtFatherBirthDay").data("kendoDatePicker").value(new Date());

        $("#txtMotherBirthDay").kendoDatePicker({
            format: "dd/MM/yyyy",
            dateInput: true
        });
        $("#txtMotherBirthDay").data("kendoDatePicker").value(new Date());

        $("#txtCSVNOfficial").kendoDatePicker({
            format: "dd/MM/yyyy",
            dateInput: true
        });
        $("#txtCSVNOfficial").data("kendoDatePicker").value(new Date());

        $("#txtWifeHusband").kendoDatePicker({
            format: "dd/MM/yyyy",
            dateInput: true
        });
        $("#txtWifeHusband").data("kendoDatePicker").value(new Date());
    });
    $("#txtBirthRegistration,#txtFamilyResidence,#txtCountryside,#txtMyCurrentResidence").on("input", function () {
        $(this).val($(this).val().replace(/\r?\n/g, ''));
    });

    $("#txtFatherBefore1975,#txtFatherAfter1975,#txtFatherLiveCurrently,#txtMotherBefore1975,#txtMotherAfter1975,#txtMotherLiveCurrently,#txtSiblings").on("input", function () {
        $(this).val($(this).val().replace(/\r?\n/g, ''));
    });

    $("#txtFromSixToEleven,#txtFromTwelveToFifteen,#txtFromFteenToFiEighteen,#txtFromEighteen").on("input", function () {
        $(this).val($(this).val().replace(/\r?\n/g, ''));
    });

    $("#btnAdd").click(function (e) {        
        var sexValues;
        var sexMother;
        var father;

        if (CheckValidation() == false) {
            return;
        }

        if ($("#txtRadioSex1").is(":checked")) {
            sexValues = 1;
        }
        else {
            sexValues = 0;
        }

        if ($("#txtMotherformations1").is(":checked")) {
            sexMother = 1;
        }
        else {
            sexMother = 0;
        }

        if ($("#txtFatherInformation1").is(":checked")) {
            father = 1;
        }
        else {
            father = 0;
        }
        $("#loader").show();
        $.ajax({
            url: '/Military/CreateMilitary',
            dataType: "json",
            type: "POST",
            data: {
                FullnameBirth: $("#txtFullnameBirth").val(),
                FullnameCommon: $("#txtFullnameCommon").val(),
                Birthday: $("#txtBirthday").val(),
                Sex: sexValues,
                CMND: $("#txtCMND").val(),
                BirthRegistration: $("#txtBirthRegistration").val(),
                Countryside: $("#txtCountryside").val(),
                Nation: $("#txtNation").val(),
                Religion: $("#txtReligion").val(),
                Nationality: $("#txtNationality").val(),
                FamilyResidence: $("#txtFamilyResidence").val(),
                MyCurrentResidence: $("#txtMyCurrentResidence").val(),
                FamilyMember: $("#txtFamilyMember").val(),
                Self: $("#txtSelf").val(),
                LearnLevel: $("#txtLearnLevel").val(),
                GraduationYear: $("#txtGraduationYear").val(),
                JobTrainingFields: $("#txtJobTrainingFields").val(),
                EnglishLevel: $("#txtEnglishLevel").val(),
                CSVN: $("#txtCSVN").val(),
                CSVNOfficial: $("#txtCSVNOfficial").val(),
                TNCS: $("#txtTNCS").val(),
                Bonus: $("#txtBonus").val(),
                Discipline: $("#txtDiscipline").val(),
                Job: $("#txtJob").val(),
                Wage: $("#txtWage").val(),
                Grade: $("#txtGrade").val(),
                JobLevel: $("#txtJobLevel").val(),
                PlaceWorkStudy: $("#txtPlaceWorkStudy").val(),
                FatherFullName: $("#txtFatherFullName").val(),
                FatherInformation: father,
                FatherBirthDay: $("#txtFatherBirthDay").val(),
                MotherFullName: $("#txtMotherFullName").val(),
                Motherformations: sexMother,
                MotherBirthDay: $("#txtMotherBirthDay").val(),
                WifeHusbandName: $("#txtWifeHusbandName").val(),
                WifeHusband: $("#txtWifeHusband").val(),
                WifeHusJob: $("#txtWifeHusJob").val(),
                WifeHusBaby: $("#txtWifeHusBaby").val(),
                FamilyBaby: $("#txtFamilyBaby").val(),
                FamilyNumber: $("#txtFamilyNumber").val(),
                CreateBy: $("#txtCreateBy").val(),
                UpdateBy: $("#txtUpdateBy").val(),
                FatherJob: $("#txtFatherJob").val(),
                MotherJob: $("#txtMotherJob").val(),
                FamilyChildGrild: $("#txtFamilyChildGrild").val(),
                FamilyChildBoy: $("#txtFamilyChildBoy").val(),
                FamilySelf: $("#txtFamilySelf").val(),

                FatherBefore1975: $("#txtFatherBefore1975").val(),
                FatherAfter1975: $("#txtFatherAfter1975").val(),
                FatherLiveCurrently: $("#txtFatherLiveCurrently").val(),
                MotherBefore1975: $("#txtMotherBefore1975").val(),
                MotherAfter1975: $("#txtMotherAfter1975").val(),
                MotherLiveCurrently: $("#txtMotherLiveCurrently").val(),
                Siblings: $("#txtSiblings").val(),

                FromSixToEleven: $("#txtFromSixToEleven").val(),
                FromTwelveToFifteen: $("#txtFromTwelveToFifteen").val(),
                FromFteenToFiEighteen: $("#txtFromFteenToFiEighteen").val(),
                FromEighteen: $("#txtFromEighteen").val(),
            },
            async: false,
            cache: false,
            success: function (data) {
                console.log(data)
                if (data == 'True') {
                    toastr.success("thêm thành công", "Thông báo");                    
                    $("input:text").val("");
                    $("#txtBirthRegistration,#txtFamilyResidence,#txtCountryside,#txtMyCurrentResidence").val("");
                    $("#txtFatherBefore1975,#txtFatherAfter1975,#txtFatherLiveCurrently,#txtMotherBefore1975,#txtMotherAfter1975,#txtMotherLiveCurrently,#txtSiblings").val("");
                    $("#txtFromSixToEleven,#txtFromTwelveToFifteen,#txtFromFteenToFiEighteen,#txtFromEighteen").val("");
                }
                else if (data == '401') {
                    toastr.error("Không có quyền thêm", "Thông báo");
                }
                else {
                    toastr.error("thêm thất bại", "Thông báo");
                }
                $("#loader").hide();
            },
            error: function (xhr) {
                alert('error');
            }
        })
    });

    /* ========== Function ========== */
    function CheckValidation() {
        if ($("#txtFullnameBirth").val().length <= 0) {
            $("#txtFullnameBirth").focus();
            toastr.warning("Họ, chữ đệm và tên khai sinh", "Thông báo")
            return false;
        }
        if ($("#txtFullnameCommon").val().length <= 0) {
            $("#txtFullnameCommon").focus();
            toastr.warning("Chưa nhập họ, chữ đệm và tên thường dùng", "Thông báo")
            return false;
        }
        if ($("#txtCMND").val().length <= 0) {
            $("#txtCMND").focus();
            toastr.warning("Chưa nhập CMND", "Thông báo")
            return false;
        }
        if ($("#txtBirthRegistration").val().length <= 0) {
            $("#txtBirthRegistration").focus();
            toastr.warning("Chưa nhập nơi đăng ký khai sanh", "Thông báo")
            return false;
        }
        if ($("#txtCountryside").val().length <= 0) {
            $("#txtCountryside").focus();
            toastr.warning("Chưa nhập quê quán", "Thông báo")
            return false;
        }
        if ($("#txtNation").val().length <= 0) {
            $("#txtNation").focus();
            toastr.warning("Chưa nhập dân tộc", "Thông báo")
            return false;
        }
        if ($("#txtReligion").val().length <= 0) {
            $("#txtReligion").focus();
            toastr.warning("Chưa nhập tôn giáo", "Thông báo")
            return false;
        }
        if ($("#txtNationality").val().length <= 0) {
            $("#txtNationality").focus();
            toastr.warning("Chưa nhập quốc tịch", "Thông báo")
            return false;
        }
        if ($("#txtFamilyResidence").val().length <= 0) {
            $("#txtFamilyResidence").focus();
            toastr.warning("Chưa nhập nơi thường trú gia đình", "Thông báo")
            return false;
        }
        if ($("#txtMyCurrentResidence").val().length <= 0) {
            $("#txtMyCurrentResidence").focus();
            toastr.warning("Chưa nhập nơi ở hiện tại của bản thân", "Thông báo")
            return false;
        }
        if ($("#txtFamilyMember").val().length <= 0) {
            $("#txtFamilyMember").focus();
            toastr.warning("Chưa nhập nơi ở hiện tại của bản thân", "Thông báo")
            return false;
        }
        return true;
    }
</script>
