@{
    Layout = "_FunctionLayout";
}
<style>
    .formCreate {
        background-color: #EEEEEE;
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px
    }
</style>
<div class="container-fluid">
    <div class="formCreate">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">Từ Ngày: </div>
                    <div class="col-md-8">
                        <input style="width:150px" id="fFormDate" value="@ViewBag.FormDate" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        Đến ngày:
                    </div>
                    <div class="col-md-8">
                        <input style="width:150px" id="fToDate" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">Trạng thái: </div>
                    <div class="col-md-8">
                        <select id="fStatus">
                            <option value="0">Tất cả</option>
                            <option value="2">Chưa duyệt</option>
                            <option value="1">Duyệt</option>
                            <option value="3">Làm lại</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">User: </div>
                    <div class="col-md-8">
                        <input id="products" style="width:150px" />
                        <br />
                        <input id="fCheckAll" type="checkbox" value="Tất cả" checked /> Tất cả
                    </div>
                </div>
            </div>

        </div>
        <div style="text-align:center">
            <button id="btnSreach" type="button" class="btn btn-primary" style="margin-top:20px">Tìm kiếm</button>
        </div>
    </div>
    <div id="grid" style="margin-top:10px"></div>
</div>

<script>
    $(document).ready(function () {
        LoadCombobox();
        GetDataGrid();
    })

    /*========== Event ==========*/
    /*========== Click ==========*/
    $("#btnSreach").click(function () {
        LoadGrid();
    })
    /*========== Function ==========*/
    function GetDataGrid() {
        $.ajax({
            url: '/User/GetInfoUser',
            dataType: "json",
            type: "GET",
            dataType: "json",
            type: "GET",
            async: true,
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var result = JSON.parse(data);
                console.log(result);
                if (result.length > 0) {
                    $("#products").kendoDropDownList({
                        filter: "startswith",
                        dataTextField: "FullName",
                        dataValueField: "ID",
                        dataSource: {
                            serverFiltering: false,
                            data: result,
                        }
                    });
                }
            },
            error: function (xhr) {
                alert('error');
            }
        })
    }
    function LoadCombobox() {
        $("#fFormDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            dateInput: true,
        });
        $("#fToDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            dateInput: true,
        });
        $("#fToDate").data("kendoDatePicker").value(new Date());
    }

    function LoadGrid() {
        let _UserID=0;
        if ($("#fCheckAll").is(":checked")) {
            _UserID = 0;
        }
        else{
            _UserID = $("#products").data("kendoDropDownList").value();
        }
        
        $("#grid").html('');
        $.ajax({
            url: '/Statistic/TicketObligAtionUserID',
            dataType: "json",
            type: "POST",
            data: {
                UserID: _UserID,
                FormDate: $("#fFormDate").val(),
                ToDate: $("#fToDate").val(),
                Status: $("#fStatus option:selected").val(),
            },
            async: false,
            cache: false,
            success: function (data) {
                var result = JSON.parse(data);
                if (result.length > 0) {
                    console.log("Đã có data");
                    console.log(result);
                    $("#grid").kendoGrid({
                        columns: [
                            {
                                field: "TicketCode", title: "Mã hồ sơ", width: 100,
                                template: function (row) {
                                    return '<p><a href="/Military/MilitaryConfirm?TicketCode=' + row.TicketCode + '" target="_blank">' + row.TicketCode + '</a></p>'
                                }
                            },
                            {
                                field: "Status", title: "Trạng thái", width: 100,
                                template: function (row) {

                                    if (row.Status == 1) {
                                        return ' <p style="text-align:center;border: 1px solid ;border-radius: 20px;background-color: #66CC99">Duyệt</p>';
                                    }
                                    else if (row.Status == 2) {
                                        return '<p style="text-align:center;border: 1px solid;border-radius: 20px;background-color: #EEEEEE">Chưa duyệt</p>';
                                    }
                                    else {
                                        return '<p style="text-align:center;border: 1px solid;border-radius: 20px;background-color: #FFCC33">Làm lại</p>';
                                    }
                                }
                            },

                            { field: "FullnameBirth", title: "Họ và tên", width: 100 },
                            { field: "Birthday", title: "Năm sinh", width: 100 },
                            {
                                field: "Sex", title: "Giới tính", width: 100,
                                template: function (row) {

                                    if (row.Sex == 0) {
                                        return 'Nữ';
                                    }
                                    else {
                                        return 'Nam';
                                    }
                                }
                            },

                            { field: "CreateDate", title: "Ngày tạo", width: 100 },
                            { field: "UpdateDate", title: "Ngày cập nhật", width: 100 },
                        ],
                        pageable: true,
                        toolbar: ["search"],
                        height: 500,
                        sortable: {
                            mode: "mixed",
                            allowUnsort: true,
                            showIndexes: true
                        },
                        toolbar: ["search"],
                        sortable: true,
                        pageable: true,
                        filterable: true,
                        columnMenu: true,
                        resizable: true,
                        dataSource: {
                            data: result,
                            pageSize: 10,
                            page: 1
                        }
                    });
                }
            }
        })
    };
</script>